:root {
    --main-color: #f48c8c;
    --main-color-tr: rgba(174, 107, 123, 0.2);
    --accent-color: #9f5b5b;
    --text-color: white;
    --text-color-dark: black;
    --text-hover: #fac6c6;
    --cart-hover: #a3b160;
    --remove-bg-color: #8a011f;
}

@media only screen and (max-width: 990px) {
    .content input {
        max-width: 12rem;
    }
}

.content h1, h5 {
    margin-bottom: 2.5rem;
}

.content .subtitle {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
}

.content .input-group {
    white-space: nowrap;
    margin-top: 1rem;
    font-family: 'Kulim Park', sans-serif;
    width: fit-content;
}

.content .input-group-text {
    color: var(--text-color);
    background-color: var(--text-hover);
}

.content input {
    color: black;
    background-color: var(--main-color-tr);
}

.content input:active {
    color: black;
}

input:active, input:focus {
    outline:0px !important;
    appearance:none;
    box-shadow: none !important;
    border: 1px solid var(--accent-color) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.content .btn-group {
    margin-bottom: 1.5rem;
}

.content .submit {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    color: var(--text-color-dark);
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--main-color-tr);
    width: 10rem;
    font-family: 'Amatic SC', cursive;
}

.content .confirm-form:hover {
    background-color: var(--main-color);
}

.content .confirm-order {
    color: var(--text-color);
    background-color: var(--cart-hover);
}

.content .confirm-order:hover {
    filter: contrast(50%);
    
}

.field-verification {
    font-family: 'Kulim Park', sans-serif;
    padding-top: 0.2rem;
}

.error {
    color: var(--remove-bg-color);
}

.verified {
    color : var(--cart-hover);
}
