:root {
    --main-color: #f48c8c;
    --text-color: white;
    --text-hover: #fac6c6;
}

html, body {
    height: 100%;
    color: wheat;
}

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 84px;
}

.content .carousel {
    height: auto;
    width: 32rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.content .carousel-control {
    background-color: rgb(235, 229, 229);
    border-radius: 5px;
}

.content .carousel-caption {
    background-color: rgba(235, 229, 229, 0.5);
    color: black;
}

.content .brand-logo {
    width: 150px;
    height: auto;
    margin: 1rem;
    padding: 0.8rem;
    background-color: rgba(235, 229, 229, 0.5);
    border-radius: 5px;
}

.content .brand-logo:hover {
    opacity: 0.7;
}

.item .item-img img{
    height: auto;
    width: 50px;
}

.content .item {
    margin: 2rem;
    padding: 0.8rem;
    width: 200px;
    border: 2px solid transparent
}

.content .item:hover {
    filter: contrast(50%);
    border: 2px solid grey;
    border-radius: 5px;
    
}

.content .products img {
    padding-bottom: 0.8rem;
}

.content .products a{
    text-decoration: none;
    color: black;
}

.content .item .item-info {
    height: 18rem;
}

.content .item img {
    width: 100px;
    height: auto;
}

.content .item .item-description {
    padding-top: 0.5rem;
    font-size: small;
}

.content .item .item-price {
    padding-top: 0.5rem;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content .item .add-button {
    background-color: rgb(235, 229, 229);
    border-radius: 5px;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
    border: 2px solid transparent;
}

.content .item .add-button:hover {
    filter: contrast(1);
    background-color: rgb(4, 219, 4);
    border: 2px solid black;
    border-radius: 5px;
}

.content .item .add-button img {
    height: auto;
    width: 30px;
}